html, body {
  font-family: sans-serif;
}

#myCanvas{
  border: 1px dashed #AAA;
  margin: 3px;
  float:left;
}

.showcase-box-inner {
  border: 1px solid #DDD;
  border-radius: 3px;
}


.showcase-box{
}


.list-group-example:hover{
  background-color: #DDD;
  cursor: pointer;
}

.dragControl {
  background: #000;
  width: 20px;
  height: 20px;
}

.horizontalDrag{
  float:left;
}

.verticalDrag{
  clear: both;
}
